.card-show-more-apps {
    flex: 1;
    align-self: flex-end;
    min-width: 9.25rem;
    min-height: 16.9375rem;
    position: relative;
    background: var(--color-white-light);
}

.card-show-more-apps>.card__item {
    min-width: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-show-more-apps>.card__item:hover {
    background: var(--color-white);
    cursor: pointer;
}

.card-show-more-apps>.card__item>i {
    font-size: 2rem;
    color: var(--color-gray-light);
    margin-bottom: 1.5rem;
}

.card-show-more-apps>.card__item>h3 {
    text-align: center;
}

.card-show-more-apps--alternative {
    min-width: 336px;
    min-height: 191px;
}