.card__image.crunchyroll {
    background-image: url(../../img/favorite-apps/crunchyroll.svg);
}

.card__image.furia-sniper {
    background-image: url(../../img/favorite-apps/furia-sniper.svg);
}

.card__image.microsoft-whiteboard {
    background-image: url(../../img/favorite-apps/microsoft-whiteboard.svg);
}

.card__image.lego-legacy {
    background-image: url(../../img/favorite-apps/lego-legacy.svg);
}

.card__image.messenger {
    background-image: url(../../img/favorite-apps/messenger.svg);
}

.card__image.impostor-kill {
    background-image: url(../../img/favorite-apps/impostor-kill.svg);
}

.card__image.crafting-building {
    background-image: url(../../img/favorite-apps/crafting-building.svg);
}

.card__image.stricker-zone {
    background-image: url(../../img/favorite-apps/stricker-zone.svg);
}

.card__image.trello {
    background-image: url(../../img/favorite-apps/trello.svg);
}

.card__image.asphalt-8 {
    background-image: url(../../img/favorite-apps/asphalt-8.svg);
}

.card__image.critical-modern {
    background-image: url(../../img/favorite-apps/critical-modern.svg);
}

.card__image.gt-racing {
    background-image: url(../../img/favorite-apps/gt-racing.svg);
}