.free-games-highlight {
    background-image: url(../../img/free-games/bg-highlight-games.svg);
}

.card__image.roblox {
    background-image: url(../../img/free-games/roblox.svg);
}

.card__image.angry-birds {
    background-image: url(../../img/free-games/angry-birds.svg);
}

.card__image.dragon-mania {
    background-image: url(../../img/free-games/dragon-mania.svg);
}

.card__image.poker {
    background-image: url(../../img/free-games/poker.svg);
}

.card__image.xadrez {
    background-image: url(../../img/free-games/xadrez.svg);
}

.card__image.diamond-digger {
    background-image: url(../../img/free-games/diamond-digger.svg);
}

.card__image.asphalt {
    background-image: url(../../img/free-games/asphalt.svg);
}

.card__image.crime-mysteries {
    background-image: url(../../img/free-games/crime-mysteries.svg);
}

.card__image.hello-neighbor {
    background-image: url(../../img/free-games/hello-neighbor.svg);
}

.card__image.cooking-fever {
    background-image: url(../../img/free-games/cooking-fever.svg);
}