.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list {
    display: flex;
    padding-left: 1.50rem;
}

.menu__link {
    font-family: var(--font-secondary);
    color: #333333;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu__link.ativo {
    border-bottom: 2px solid #0073e6;
    color: #000;
}