:root {
    --bg-body: #f0f0f0;
    --bg-main-games: #043359;
    --bg-highlights-games: #3a2b56;
    --font-base-size: 1rem;
    --font-base: 'Inter', sans-serif;
    --font-secondary: 'Source Sans Pro', sans-serif;
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --color-white: #ffffff;
    --color-white-light: #fafafa;
    --color-gray-light: #969696;
    --color-gray-dark: #646464;
    --color-black: #000;
    --color-blue: #0064d7;
}