@import "_variables.css";
@import "_reset.css";
@import "_normalize.css";
body {
    font-family: var(--font-base);
    font-size: var(--font-base-size);
    background: var(--bg-body);
    color: var(--color-white);
}

.app {
    display: grid;
    grid-template-areas: "header" "highlights" "main-games" "free-games-highlight" "free-apps" "free-favorite" "collections";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.container {
    padding: 1rem 3rem;
}

.base-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Grid Area */

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-area: header;
    padding-left: 2rem;
    padding-right: 1rem 2rem;
    padding-top: 1rem;
}

.highlights {
    grid-area: highlights;
}

.main-games {
    grid-area: main-games;
}

.free-games-highlight {
    grid-area: free-games-highlight;
}

.free-apps {
    grid-area: free-apps;
}

.free-favorite {
    grid-area: free-favorite;
}

.collections {
    grid-area: collections;
}

/* Align and Margin*/

.align--left {
    text-align: left;
}

.align--center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}
